@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --lrt-yellow: 205, 151, 0;
    --lrt-blue: 0, 43, 85;
    --c-505:211, 41, 43;
    --c-507: 0, 166, 81;
    --c-610:74, 9, 13;
    --c-614:22, 193, 243;
    --c-614p:243, 133, 142;
    --c-615:255, 222, 0;

    --c-615p:14, 88, 129;
    --c-705:109, 191, 82;
    --c-706:179, 122, 181;
    --c-751:245, 130, 31;
    --c-761p:112, 44, 145
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
}